<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section layout:fragment="corpo">
		<div class="app-title">
			<div>
				<h1>
					<i class="fa fa-th-list"></i>Registros Cadastrados
				</h1>
			</div>
			<ul class="app-breadcrumb breadcrumb side">
				<li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
				<li class="breadcrumb-item active"><a th:href="@{/}">Página
						Principal</a></li>
			</ul>
		</div>
		<br />
		<div class="tile">
			<form class="form-inline" role="form" method="GET"
				th:object="${userFiltro}">
				<div class="col-sm-12">
					<div class="form-group">
						<label for="nomeUsuario" class="control-label col-sm-1">Nome:</label>
						<input type="text" class="form-control col-sm-8" id="nomeUsuario"
							name="nomeUsuario" th:field="*{user_name}"
							placeholder="Digite o nome de um usuário para pesquisar.">
						<div class="col-md-1">
							<button type="submit" class="btn btn-primary">
								Pesquisar<i class="fa fa-search-plus"></i>
							</button>
						</div>
					</div>

				</div>
			</form>

		</div>
		<div class="tile">
			<h3 class="tile-title">Listagem</h3>
			<div class="tile-body">
				<div id="no-more-tables">
					<table id="table"
						class="table col-sm-12 table-striped table-bordered table-hover table-collapse cf">
						<thead class="cf">
							<tr class="p-3 mb-2 bg-secondary text-white">
								<th style="width: 20px; font-weight: bold; text-align: left;">
									<a th:href="${pagina.urlOrdenada('id')}"
									th:remove="${pagina.vazia} ? tag"> <span>Id</span> <span
										class="dropup" th:remove="${pagina.descendente('id')} ? tag"
										th:if="${pagina.ordenada('id')}"> <span class="caret"></span>
									</span>
								</a>
								</th>
								<th style="width: 200px; font-weight: bold; text-align: left;">
									<a th:href="${pagina.urlOrdenada('username')}"
									th:remove="${pagina.vazia} ? tag"> <span>Nome</span> <span
										class="dropup"
										th:remove="${pagina.descendente('username')} ? tag"
										th:if="${pagina.ordenada('username')}"> <span
											class="caret"></span>
									</span>
								</a>
								</th>
								<th style="width: 50px; font-weight: bold; text-align: center;">Grupo</th>
								<th style="width: 50px; font-weight: bold; text-align: center;">Status</th>
								<th style="width: 50px; font-weight: bold; text-align: center;">Usuário</th>
								<th style="width: 150px; font-weight: bold; text-align: center;">Ação</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="usuario :${pagina.conteudo}">
								<td data-title="Id" class="text-left" th:text="${usuario.id}"></td>
								<td data-title="Nome" class="text-left"
									th:text="${usuario.username}"></td>
								<td><span th:each="grupo : ${usuario.roles}"
									th:text="|${grupo.nome}${grupoStat.last ? '' : ', '}|"></span></td>
								<td data-title="Status" class="text-center"><th:block
										th:if="${usuario.ativo}">
										<span class="badge badge-success">Ativo</span>
									</th:block> <th:block th:if="${not usuario.ativo}">
										<span class="badge badge-danger">Inativo</span>
									</th:block></td>
								<td data-title="Foto" class="text-center">
									<img th:src="@{/fotos/thumbnail.{foto}(foto=${usuario.fotoOuMock})}" class="img-responsive"/>
								</td> 
								<td data-title="Ação" class="text-center"><a id="btnUpdate"
									class="btn btn-info btn-sm"
									title="Alterar dados da usuário selecionada"
									th:href="@{/usuario/editar/{id}(id=${usuario.id})}"> <i
										class="fa fa-pencil"></i>
								</a> <a id="btnExclui" class="btn btn-danger btn-sm "
									title="Excluir dados da usuário selecionada"
									th:href="@{/usuario/excluir/{id}(id=${usuario.id})}"> <i
										class="fa fa-trash"></i>
								</a> <a id="btnConsultar" class="btn btn-success btn-sm"
									title="Consultar dados da usuário selecionada"
									th:href="@{/usuario/consultar/{id}(id=${usuario.id})}"> <i
										class="fa fa-search-plus"></i>
								</a></td>
							</tr>
							<tr th:if="${pagina.vazia}">
								<td colspan="10"><b>Nenhum Usuário encontrado</b><i
									class="fa fa-exclamation-circle " aria-hidden="true"></i></td>
							</tr>
						</tbody>
					</table>

				</div>
				<div class="box-footer clearfix">
					<div class="row">
						<div class="col-xs-12 col-md-5">
							<div class="pagination">
								<p>
									Mostrando <span class="badge"
										th:text="${pagina.size * (pagina.number-1) + 1}"></span> de <span
										class="badge"
										th:text="${pagina.ultima ? pagina.totalElementos : pagina.size * (pagina.number-1)+ pagina.size}"></span>
									de <span class="badge" th:text="${pagina.totalElementos}"></span>
									Registros de Usuários cadastrados
								</p>
							</div>
						</div>
						<div class="col-xs-12 col-md-7" th:if="${not pagina.vazia}">
							  <ul class='pagination pull-right'>
	                                <li th:class="${pagina.primeira}?'disabled':''">
	                                    <span th:if='${pagina.primeira}' th:class="page-link" >← Primeira</span>
	                                    <a th:if='${not pagina.primeira}' th:href='@{${pagina.urlParaPagina(0)}}' th:class="page-link">← Primeira</a>
	                                </li>
	                                <li th:class="${pagina.hasPreviousPage}? '' : 'disabled'">
	                                    <span th:if='${not pagina.hasPreviousPage}' th:class="page-link"><span class="fa fa-chevron-left"></span></span>
	                                    <a th:if='${pagina.hasPreviousPage}'
	                                       th:href='@{${pagina.urlParaPagina(pagina.number-2)}}' th:class="page-link"
	                                       title='Go to previous pagina'><span class="fa fa-chevron-left"></span></a>
	                                </li>
	                                <li th:each='item : ${pagina.items}' th:class="${item.current}? 'page-item active' : ''">
	                                    <span th:if='${item.current}' th:text='${item.number}' th:class="page-link">1</span>
	                                    <a th:if='${not item.current}'  th:class="page-link"
	                                       th:href='@{${pagina.urlParaPagina(item.number-1)}}'><span
	                                            th:text='${item.number}' >1</span></a>
	                                </li>
	                                <li th:class="${pagina.hasNextPage}? '' : 'disabled'">
	                                    <span th:if='${not pagina.hasNextPage}' th:class="page-link"><span class="fa fa-chevron-right"></span></span>
	                                    <a th:if='${pagina.hasNextPage}' th:class="page-link"
	                                       th:href='@{${pagina.urlParaPagina(pagina.number+1)}}'
	                                       title='Go to next pagina'><span class="fa fa-chevron-right"></span></a>
	                                </li>
	                                <li th:class="${pagina.ultima}? 'disabled' : ''">
	                                    <span th:if='${pagina.ultima}' th:class="page-link">Última →</span>
	                                    <a th:if='${not pagina.ultima}' th:class="page-link"
	                                       th:href='@{${pagina.urlParaPagina(pagina.total-1)}}'>Última →</a>
	                                </li>
	                            </ul>
						</div>
					</div>
				</div>
			</div>

			<a class="btn btn-success " data-toggle="tooltip"
				data-placement="top" title="Cadastrar um novo usuário"
				th:href="@{/usuario/cadastrar}"><b>Incluir</b> <i
				class="fa fa-plus-circle"></i> </a>
		</div>
	</section>

</body>
</html>