<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-switch.min.css}">
<body>
	<section layout:fragment="corpo">
		<div class="app-title">
			<div>
				<h1>
					<i class="fa fa-edit"></i>Cadastro de Permissões por Grupos
				</h1>
			</div>
			<ul class="app-breadcrumb breadcrumb">
				<li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
				<li class="breadcrumb-item"><a th:href="@{/direitos/pesquisar}">Pesquisa Permissões dos Grupos</a></li>
			</ul>
		</div>
		<div class="container">
			<div class="tile">
				<h3 class="tile-title">Consulta</h3>
				<div class="tile-body">
					<form class="form-horizontal" 
					      th:object="${rolepermissao}" method="POST"
						  th:action="@{/direitos/consultar}">
					
					<div class="row">
							<div id="mensagem" th:replace="fragments/mensagem_usuario :: mensagem_usuario"></div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
								<div class="form-group">
									<label for="roleid" class="control-label">Grupo</label> <select
										id="roleid" class="form-control" th:field="*{role}">
										<option value="">Selecione o grupo de usuários</option>
										<option th:each="role : ${roles}" th:value="${role.id}"
											th:text="${role.nome}"
											th:classappend="${#fields.hasErrors('role')} ? 'is-invalid'">
										</option>
									</select>
									<div class="invalid-feedback">
										<span th:errors="*{role}"></span>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
								<div class="form-group">
									<label for="escopoId" class="control-label">Escopo</label> <select
										id="escopoId" class="form-control" th:field="*{scope}">
										<option value="">Selecione o escopo para as
											permissões</option>
										<option th:each="escopo : ${scopes}" th:value="${escopo.id}"
											th:text="${escopo.nome}"
											th:classappend="${#fields.hasErrors('scope')} ? 'is-invalid'">
										</option>
									</select>
									<div class="invalid-feedback">
										<span th:errors="*{scope}"></span>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
								<div class="form-group">
									<label for="dataCadastro" class="control-label">Data
										Cadastro</label> <input type="text" id="dataCadastro"
										class="form-control" placeholder="99/99/9999"
										name="dataCadastro" th:field="*{dataCadastro}"
										th:classappend="${#fields.hasErrors('dataCadastro')} ? 'is-invalid'" />
									<div class="invalid-feedback">
										<span th:errors="*{dataCadastro}"></span>
									</div>
								</div>
							</div>
						</div>
						<fieldset>
							<legend>Permissões de Grupos</legend>
							<div class="row" >

								<div id="linhaGrupo" th:replace="fragments/rolepermissao :: role_permissao"></div>

							</div>
						</fieldset>
						<input type="hidden" id="id" th:field="*{id}" />
						<div class="tile-footer">
							<div class="col-lg-offset-2 col-md-offset-2">
								<button type="submit" class="btn btn-secondary " name="action"
									value="cancelar" data-toggle="tooltip"
									formnovalidate="formnovalidate" data-placement="top"
									title="Cancelar a exclusão do registro">
									<b>Cancelar</b> <span class="fa fa-fw fa-lg fa-times-circle"
										aria-hidden="true"></span>
								</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</section>
	<th:block layout:fragment="javascript-extra">
  		<script th:src="@{/js/bootstrap-checkbox.js}"></script>
		<script th:src="@{/js/plugins/bootstrap-datepicker.min.js}"></script>
		<script th:src="@{/js/plugins/bootstrap-datepicker.pt-BR.min.js}"></script>
		<script>
			$(':checkbox').checkboxpicker();
	    </script>
		<script>
		    $(function(){
		    	$('#dataCadastro').mask('00/00/0000');
		    	$('#dataCadastro').datepicker({
		    		orientation: 'bottom',
		    		language: 'pt-BR',
		    		autoclose: true,
		    		todayHighlight: true
		    	});
		    });
		</script>   
    </th:block>
</body>
</html>