<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section layout:fragment="corpo">
		<div class="app-title">
			<div>
				<h1>
					<i class="fa fa-th-list"></i>Registros Cadastrados
				</h1>
			</div>
			<ul class="app-breadcrumb breadcrumb side">
				<li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
				<li class="breadcrumb-item active"><a th:href="@{/}">Página
						Principal</a></li>
			</ul>
		</div>
		<br />
		<div class="tile">
			<h3 class="tile-title">Listagem</h3>
			<div class="tile-body">
				<div id="no-more-tables">
					<table id="table"
						class="table col-sm-12 table-striped table-bordered table-hover table-collapse cf">
						<thead class="cf">
							<tr class="p-3 mb-2 bg-secondary text-white">
								<th style="width: 20px; font-weight: bold; text-align: left;">Id</th>
								<th style="width: 400px; font-weight: bold; text-align: left;">Escopo</th>
								<th style="width: 150px; font-weight: bold; text-align: center;">Ação</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="escopo :${escopos}">
								<td data-title="Id" class="text-left" th:text="${escopo.id}"></td>
								<td data-title="Nome" class="text-left" th:text="${escopo.nome}"></td>
								<td data-title="Ação" class="text-center">
								    <a id="btnUpdate"
									class="btn btn-info btn-sm"
									title="Alterar dados do escopo selecionado"
									th:href="@{/escopo/editar/{id}(id=${escopo.id})}"> <i
										class="fa fa-pencil"></i>
									</a> 
									<a id="btnExclui" class="btn btn-danger btn-sm "
										title="Excluir dados do escopo selecionado"
										th:href="@{/escopo/excluir/{id}(id=${escopo.id})}"> <i
											class="fa fa-trash"></i>
									</a> 
									<a id="btnConsultar" class="btn btn-success btn-sm"
										title="Consultar registro do escopo selecionado"
										th:href="@{/escopo/consultar/{id}(id=${escopo.id})}"> <i
											class="fa fa-search-plus"></i>
									</a>
							    </td>
							</tr>
						</tbody>
					</table>

				</div>
				<div class="box-footer clearfix">
					<a class="btn btn-success " data-toggle="tooltip"
						data-placement="top" title="Cadastrar um novo Escopo"
						th:href="@{/escopo/cadastrar}"><b>Incluir</b> <i
						class="fa fa-plus-circle"></i> </a>
				</div>	
		</div>
	 </div>	
	</section>

</body>
</html>