<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>
<body>
	<section layout:fragment="corpo">	
		<div class="app-title">
	        <div>
	          <h1><i class="fa fa-dashboard"></i> Página Principal</h1>
	        </div>
	        <ul class="app-breadcrumb breadcrumb">
	          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
	          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
	        </ul>
      </div>
	</section>		
</body>
</html>