<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layoutSimples}">
<head>
<title>Financeiro</title>
<meta charset="UTF-8" />
</head>
	<th:block layout:fragment="conteudo">
		<div class="app-title-registrar">
			<div>
				<h1>
					<i class="fa fa-edit"></i>Alterar Senha
				</h1>
			</div>
		</div>
		<div class="container col-sm-6 offset-sm-3">
			<div class="tile-registration">
				<h3 class="tile-title">Registro</h3>
				<div class="tile-body">
					<form class="form-horizontal" th:object="${password}" method="POST"
						th:action="@{/registrar/salvar-senha}">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-12">
								<div th:replace="fragments/validacao :: validacao"></div>
								<div th:replace="fragments/alert"></div>
								<div class="form-group">
									<label for="oldPassword" class="control-label">Senha Antiga</label> <input
										type="password" id="oldPassword" class="form-control" name="name"
										th:field="*{oldPassword}"
										th:classappend="${#fields.hasErrors('oldPassword')} ? 'is-invalid'" />
									<div id="oldPasswordError" class="invalid-feedback">
										<span th:errors="*{oldPassword}"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
								<div class="form-group">
									<label for="newPassword" class="control-label">Senha Nova</label>
									<input type="password" id="newPassword" class="form-control"
										name="newPassword" th:field="*{newPassword}"
										th:classappend="${#fields.hasErrors('newPassword')} ? 'is-invalid'" />
									<div id="newPasswordError" class="invalid-feedback">
										<span th:errors="*{newPassword}"></span>
									</div>
									<div id="progress1" class="progress">
							          <div id="progress" class="progress-bar progress-bar-striped progress-bar-animated js-passwordTamanho" 
							               role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" 
							               aria-valuemax="100">
							           </div>

							        </div>
							        <div>
							               <p id="password_text" class="text-center"></p>
							        </div>
								</div>
							</div>
						</div>
						<div class="row">	
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
								<div class="form-group">
									<label for="confirmePassword" class="control-label">Confirme a Nova Senha</label> <input
										type="password" id="confirmePassword" class="form-control" name="confirmePassword"
										th:field="*{confirmePassword}"
										th:classappend="${#fields.hasErrors('confirmePassword')} ? 'is-invalid'" />
									<div id="confirmePasswordError" class="invalid-feedback">
										<span th:errors="*{confirmePassword}"></span>
									</div>
									<div id="progress2" class="progress">
							          <div id="progress" class="progress-bar progress-bar-striped progress-bar-animated js-contraSenhaTamanho" 
							               role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" 
							               aria-valuemax="100">
							           </div>
						
							        </div>
							        <div>
							           <p id="contraSenha_text" class="text-center"></p>
							        </div>
								</div>
							</div>
						</div>
						<div class="tile-footer">

							<div class="col-lg-offset-2 col-md-offset-2">
								<button type="submit" class="btn btn-primary " name="action"
									value="Salvar" data-toggle="tooltip" data-placement="top"
									title="Salvar o cadastro de um novo registro">
									<b>Salvar</b> <span class="fa fa-fw fa-lg fa-check-circle"
										aria-hidden="true"></span>
								</button>

								<button type="submit" class="btn btn-secondary " name="action"
									value="Cancelar" data-toggle="tooltip"
									formnovalidate="formnovalidate" data-placement="top"
									title="Cancelar o cadastro de um novo registro">
									<b>Cancelar</b> <span class="fa fa-fw fa-lg fa-times-circle"
										aria-hidden="true"></span>
								</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
		<script th:src="@{/js/jquery.js}"></script> 
		<script th:src="@{/js/validarSenha.js}"></script>
	</th:block>
</body>
</html>